/* body{
    background-color: transparent;
} */
img {
    display: block;
    height: 100%;
}

header {
    background-color: #B2A4FF;
    height: 70px;
    
    display: flex;
    height: 100%;
    /* position: fixed; */ /*WHEN I USED THIS PROPERTY THE WHOLE IMG COVER THE SCREEN */
    top: 0; 
    position: sticky;
}
nav {
    display: flex;
    border-collapse: collapse;
}
a.amer {
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    border: 0px solid black;
    padding: 20px;
    text-decoration: none;
}

/*here i finished the header styling */



main{
    display: flex;
    flex-direction: row;

}
.side-bar{
    background-color: #FFDEB4;
    width: 30px;
    height: 400px;
    overflow: scroll;
     flex-grow: 1;
     display: flex;
     flex-direction: column;
}
.side-bar a{
    display: block;
    text-align: center;
    text-decoration: none;
    color: blue;
    border: 1px solid black;
    border-collapse: collapse;

}
.side-bar a:hover{
    background-color:#FFB4B4 ;
}


.div-holding-info{
    background-color:#FFB4B4;
    flex-grow: 5;
    display: flex;
    flex-direction: column;
    height: 400px;
    overflow: scroll;
    width: 500px;
}
.sec1{
    display: flex;
    background-color:#FFB4B4;
    padding-top: 30px;
    padding-bottom: 15px;
    align-self: flex-start;
    
}
.sec2{
    display: flex;
    flex-direction: column;
    background-color:#FFB4B4;
    align-self: stretch;

}
.personal-pic{
width: 70px;
padding-right: 5%;
}
.info{
    font-style: oblique;
    font-family: monospace;
    margin-top: 20px;
}
form{
    margin-left: 70px;
}




.holding-p{
    background-color: #FFB4B4;
}

/* here i finished styling the main  */




    footer {
        background-color: #FDF7C3;
        font-size: xx-small;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-style: oblique;
        position: sticky;
        bottom: 0;
    }