body{
    position: relative;
}

img {
    display: block;
    height: 100%;
}

header {
    background-color: #B2A4FF;
    height: 70px;

    display: flex;
    height: 100%;
    /* position: fixed; */
    /*WHEN I USED THIS PROPERTY THE WHOLE IMG COVER THE SCREEN */
    top: 0;
    position: sticky;
}

nav {
    display: flex;
    border-collapse: collapse;
}

a.amer {
    display: block;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    box-sizing: border-box;
    height: 100%;
    text-align: center;
    border: 0px solid black;
    padding: 20px;
    text-decoration: none;
}


/* here i finished styling the header  */



div.mid {
    display: flex;
    background-color: #FFB4B4;
    height: 70px;
    text-align: center;
    font-size: xx-large;
    justify-content: center;
    position: sticky;
    top: 64px;

}

.check-mark {
    color: green;
    display: block;
    justify-content: center;
    align-self: center;
    margin-left: 10px;
}

.under {
    display: block;
    align-self: center;
    text-decoration: line-through;

}

.table {
    display: flex;
    justify-content: center;
    background-color: #FFDEB4;
    height: 400px;
    overflow: scroll;
}

table {
    border: 2px solid green;
    width: 500px;
    background-color: green;
    overflow: scroll;


}

td,
th {
    border: 2px solid green;
    text-align: center;
    background-color: #FFDEB4;
    width: 250px;
}

th {
    background-color: aquamarine;
    
}







.my-rule {
    background-color: red !important;
    border: 2px solid green;
    height: 10px;
}

footer {
    background-color: #FDF7C3;
    font-size: xx-small;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-style: oblique;
    position: sticky;
    bottom: 0;
    border-top: 1px solid black;
}